# List Comprehensions Lab

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [1]:
import numpy as np
import pandas as pd
import os
import glob

### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [2]:
list_1 = [i for i in range(1, 51)]
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [3]:
list_2 = [i for i in range(2, 201, 2)]
print(list_2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 Numpy array below.

In [4]:
a = np.array([[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]])

In [5]:
list_3 = [j for i in a for j in i]
print(list_3)

[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]

### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [6]:
list_4 = [i for i in list_3 if i >= 0.5]
print(list_4)

[0.84062117, 0.7876326, 0.77109654, 0.81835917, 0.87645456, 0.7066597, 0.57433389, 0.92796258, 0.69814654, 0.97016248, 0.71725408, 0.87702738, 0.76615487, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962849, 0.94555126]

### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 Numpy array below.

In [7]:
b = np.array([
        [
        [0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]
        ],

        [
        [0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]
        ],

        [
        [0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]
        ],

        [
        [0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]
        ],

        [
        [0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]
        ]
        ])

In [8]:
list_5 = [k for i in b for j in i for k in j]
print(list_5)

[0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]

### 5. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [9]:
list_6 = [j[-1] for i in b for j in i if j[-1] <= 0.5]
print(list_6)

[0.08147297, 0.06833034, 0.30296619, 0.45850679, 0.11434044, 0.10708681, 0.47984544, 0.23760688]

### 6. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

In [10]:
# Código Diego
pwd = '/Users/diego.perez97/Documents/IronHack/Module 1/Week 1/Day 2/lab-list-comprehension/data'
os.chdir(pwd)
file_extention = '.csv'
file_names = [file for file in glob.glob(f'*{file_extention}')]

In [11]:
# Código Luis
pwd = '/Users/diego.perez97/Documents/IronHack/Module 1/Week 1/Day 2/lab-list-comprehension/data'
file_extention = '.csv'
file_names = [file for file in os.listdir(pwd) if file.endswith(file_extention)]

### 7. Use a list comprehension and the Pandas `read_csv` and `concat` methods to read all CSV files in the */data* directory and combine them into a single data frame. Display the top 10 rows of the resulting data frame.

In [12]:
# Código Diego
df = pd.concat([pd.read_csv(file) for file in file_names], axis = 0)
df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.276827,0.260054,0.942397,0.113187,0.781355,0.475740,0.152061,0.250324,0.147078,0.162984,0.977025,0.509619,0.593212,0.911839,0.257645,0.386457,0.696932,0.069162,0.952291,0.286542
1,0.995885,0.158381,0.244274,0.962163,0.651900,0.930665,0.577190,0.087914,0.960261,0.580840,0.194616,0.661459,0.674085,0.049326,0.785803,0.315645,0.495355,0.232135,0.549324,0.572232
2,0.641917,0.821055,0.392437,0.782617,0.510762,0.428320,0.017324,0.680720,0.340412,0.462513,0.785776,0.251949,0.032847,0.995700,0.816563,0.735692,0.435998,0.430411,0.531757,0.489528
3,0.806532,0.569258,0.148175,0.809987,0.459632,0.735762,0.730664,0.934502,0.080322,0.763502,0.398504,0.027637,0.409665,0.942846,0.133256,0.157158,0.929446,0.402791,0.685976,0.246594
4,0.311185,0.501165,0.365979,0.782807,0.776795,0.797199,0.791946,0.847157,0.771811,0.233944,0.522344,0.053030,0.208551,0.824354,0.588567,0.604341,0.232964,0.229109,0.022881,0.479022
0,0.734751,0.195362,0.734309,0.598184,0.763433,0.263434,0.868066,0.058092,0.753502,0.587513,0.311608,0.178356,0.182922,0.147631,0.391188,0.816049,0.749068,0.293260,0.937828,0.880858
1,0.772607,0.445391,0.249642,0.787922,0.598583,0.827238,0.624126,0.601524,0.688753,0.338870,0.081595,0.471474,0.267443,0.453351,0.800716,0.045749,0.683793,0.389789,0.016787,0.503695
2,0.226428,0.268764,0.694262,0.622335,0.063843,0.122683,0.815625,0.584542,0.032594,0.589775,0.764350,0.650973,0.565705,0.691784,0.265223,0.739031,0.560394,0.334802,0.517694,0.646110
3,0.362748,0.495430,0.113876,0.594149,0.612522,0.625204,0.864050,0.260279,0.528873,0.168043,0.715929,0.677014,0.175735,0.632370,0.926715,0.085675,0.120525,0.141746,0.771144,0.489660
4,0.033415,0.340433,0.464971,0.363737,0.025815,0.434129,0.415163,0.892210,0.381701,0.415264,0.790801,0.696930,0.819751,0.944029,0.869965,0.041723,0.819140,0.676051,0.109349,0.872947

In [13]:
# Código Luis
df = pd.concat([pd.read_csv(os.path.join(pwd, file)) for file in file_names], axis = 0 )
df .head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.276827,0.260054,0.942397,0.113187,0.781355,0.475740,0.152061,0.250324,0.147078,0.162984,0.977025,0.509619,0.593212,0.911839,0.257645,0.386457,0.696932,0.069162,0.952291,0.286542
1,0.995885,0.158381,0.244274,0.962163,0.651900,0.930665,0.577190,0.087914,0.960261,0.580840,0.194616,0.661459,0.674085,0.049326,0.785803,0.315645,0.495355,0.232135,0.549324,0.572232
2,0.641917,0.821055,0.392437,0.782617,0.510762,0.428320,0.017324,0.680720,0.340412,0.462513,0.785776,0.251949,0.032847,0.995700,0.816563,0.735692,0.435998,0.430411,0.531757,0.489528
3,0.806532,0.569258,0.148175,0.809987,0.459632,0.735762,0.730664,0.934502,0.080322,0.763502,0.398504,0.027637,0.409665,0.942846,0.133256,0.157158,0.929446,0.402791,0.685976,0.246594
4,0.311185,0.501165,0.365979,0.782807,0.776795,0.797199,0.791946,0.847157,0.771811,0.233944,0.522344,0.053030,0.208551,0.824354,0.588567,0.604341,0.232964,0.229109,0.022881,0.479022
0,0.734751,0.195362,0.734309,0.598184,0.763433,0.263434,0.868066,0.058092,0.753502,0.587513,0.311608,0.178356,0.182922,0.147631,0.391188,0.816049,0.749068,0.293260,0.937828,0.880858
1,0.772607,0.445391,0.249642,0.787922,0.598583,0.827238,0.624126,0.601524,0.688753,0.338870,0.081595,0.471474,0.267443,0.453351,0.800716,0.045749,0.683793,0.389789,0.016787,0.503695
2,0.226428,0.268764,0.694262,0.622335,0.063843,0.122683,0.815625,0.584542,0.032594,0.589775,0.764350,0.650973,0.565705,0.691784,0.265223,0.739031,0.560394,0.334802,0.517694,0.646110
3,0.362748,0.495430,0.113876,0.594149,0.612522,0.625204,0.864050,0.260279,0.528873,0.168043,0.715929,0.677014,0.175735,0.632370,0.926715,0.085675,0.120525,0.141746,0.771144,0.489660
4,0.033415,0.340433,0.464971,0.363737,0.025815,0.434129,0.415163,0.892210,0.381701,0.415264,0.790801,0.696930,0.819751,0.944029,0.869965,0.041723,0.819140,0.676051,0.109349,0.872947

### 8. Use a list comprehension to select and print the column numbers for columns from the data set whose median is less than 0.48.

In [14]:
df_8 = [print(df[i]) for i in df[0:] if (df[i].median(axis = 0)) < 0.48]

0    0.942397
1    0.244274
2    0.392437
3    0.148175
4    0.365979
0    0.734309
1    0.249642
2    0.694262
3    0.113876
4    0.464971
0    0.918270
1    0.916655
2    0.954057
3    0.475459
4    0.336707
0    0.500995
1    0.152394
2    0.179986
3    0.681403
4    0.029834
0    0.735894
1    0.797730
2    0.892328
3    0.959355
4    0.736542
0    0.245083
1    0.467321
2    0.005691
3    0.833368
4    0.184239
0    0.596603
1    0.708804
2    0.567476
3    0.121713
4    0.553956
0    0.183148
1    0.802663
2    0.120652
3    0.476889
4    0.055405
0    0.673568
1    0.850528
2    0.807189
3    0.407187
4    0.392800
0    0.160848
1    0.089925
2    0.789796
3    0.935787
4    0.273505
Name: 2, dtype: float64
0    0.162984
1    0.580840
2    0.462513
3    0.763502
4    0.233944
0    0.587513
1    0.338870
2    0.589775
3    0.168043
4    0.415264
0    0.591727
1    0.586035
2    0.867511
3    0.410444
4    0.194299
0    0.037230
1    0.543442
2    0.181267
3    0.513575
4    0.956949
0    0.895810
1    0.674311
2    0.131970
3    0.105477
4    0.390542
0    0.783107
1    0.048724
2    0.847337
3    0.547769
4    0.212762
0    0.717817
1    0.737445
2    0.418311
3    0.360098
4    0.197302
0    0.080025
1    0.156926
2    0.048815
3    0.349850
4    0.449771
0    0.111557
1    0.892183
2    0.184300
3    0.684265
4    0.634608
0    0.882762
1    0.412141
2    0.633154
3    0.892383
4    0.922742
Name: 9, dtype: float64
0    0.593212
1    0.674085
2    0.032847
3    0.409665
4    0.208551
0    0.182922
1    0.267443
2    0.565705
3    0.175735
4    0.819751
0    0.177649
1    0.915342
2    0.552062
3    0.856437
4    0.531840
0    0.153783
1    0.580359
2    0.070744
3    0.082292
4    0.454788
0    0.617711
1    0.015081
2    0.034188
3    0.400774
4    0.366139
0    0.207432
1    0.721515
2    0.898464
3    0.931623
4    0.634487
0    0.394465
1    0.073603
2    0.234886
3    0.847880
4    0.473574
0    0.543498
1    0.940414
2    0.090451
3    0.841210
4    0.158077
0    0.446974
1    0.429496
2    0.573440
3    0.756593
4    0.682941
0    0.016789
1    0.176157
2    0.908288
3    0.846208
4    0.389451
Name: 12, dtype: float64
0    0.257645
1    0.785803
2    0.816563
3    0.133256
4    0.588567
0    0.391188
1    0.800716
2    0.265223
3    0.926715
4    0.869965
0    0.202404
1    0.489504
2    0.739656
3    0.326310
4    0.084884
0    0.330318
1    0.931264
2    0.948127
3    0.088025
4    0.095214
0    0.336094
1    0.132391
2    0.098536
3    0.844655
4    0.175482
0    0.349212
1    0.338366
2    0.443979
3    0.821099
4    0.394633
0    0.084206
1    0.798467
2    0.421263
3    0.490628
4    0.413186
0    0.960030
1    0.933377
2    0.192501
3    0.101031
4    0.730355
0    0.713369
1    0.283769
2    0.032852
3    0.551369
4    0.450950
0    0.984182
1    0.834378
2    0.462130
3    0.471880
4    0.129955
Name: 14, dtype: float64
0    0.069162
1    0.232135
2    0.430411
3    0.402791
4    0.229109
0    0.293260
1    0.389789
2    0.334802
3    0.141746
4    0.676051
0    0.159040
1    0.358977
2    0.602166
3    0.361873
4    0.437889
0    0.033474
1    0.509798
2    0.074394
3    0.515933
4    0.513342
0    0.856135
1    0.752866
2    0.655947
3    0.807400
4    0.904593
0    0.886644
1    0.773155
2    0.302786
3    0.183948
4    0.538712
0    0.267455
1    0.631497
2    0.726412
3    0.567280
4    0.351496
0    0.660811
1    0.407580
2    0.858956
3    0.149982
4    0.078734
0    0.982256
1    0.688337
2    0.719610
3    0.792803
4    0.221165
0    0.867894
1    0.602258
2    0.076819
3    0.665568
4    0.365442
Name: 17, dtype: float64

### 9. Use a list comprehension to add a new column (20) to the data frame whose values are the values in column 19 minus 0.1. Display the top 10 rows of the resulting data frame.

In [15]:
# Código Diego
df[['20']] = df[['19']].subtract(0.1)
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.276827,0.260054,0.942397,0.113187,0.781355,0.475740,0.152061,0.250324,0.147078,0.162984,...,0.509619,0.593212,0.911839,0.257645,0.386457,0.696932,0.069162,0.952291,0.286542,0.186542
1,0.995885,0.158381,0.244274,0.962163,0.651900,0.930665,0.577190,0.087914,0.960261,0.580840,...,0.661459,0.674085,0.049326,0.785803,0.315645,0.495355,0.232135,0.549324,0.572232,0.472232
2,0.641917,0.821055,0.392437,0.782617,0.510762,0.428320,0.017324,0.680720,0.340412,0.462513,...,0.251949,0.032847,0.995700,0.816563,0.735692,0.435998,0.430411,0.531757,0.489528,0.389528
3,0.806532,0.569258,0.148175,0.809987,0.459632,0.735762,0.730664,0.934502,0.080322,0.763502,...,0.027637,0.409665,0.942846,0.133256,0.157158,0.929446,0.402791,0.685976,0.246594,0.146594
4,0.311185,0.501165,0.365979,0.782807,0.776795,0.797199,0.791946,0.847157,0.771811,0.233944,...,0.053030,0.208551,0.824354,0.588567,0.604341,0.232964,0.229109,0.022881,0.479022,0.379022
0,0.734751,0.195362,0.734309,0.598184,0.763433,0.263434,0.868066,0.058092,0.753502,0.587513,...,0.178356,0.182922,0.147631,0.391188,0.816049,0.749068,0.293260,0.937828,0.880858,0.780858
1,0.772607,0.445391,0.249642,0.787922,0.598583,0.827238,0.624126,0.601524,0.688753,0.338870,...,0.471474,0.267443,0.453351,0.800716,0.045749,0.683793,0.389789,0.016787,0.503695,0.403695
2,0.226428,0.268764,0.694262,0.622335,0.063843,0.122683,0.815625,0.584542,0.032594,0.589775,...,0.650973,0.565705,0.691784,0.265223,0.739031,0.560394,0.334802,0.517694,0.646110,0.546110
3,0.362748,0.495430,0.113876,0.594149,0.612522,0.625204,0.864050,0.260279,0.528873,0.168043,...,0.677014,0.175735,0.632370,0.926715,0.085675,0.120525,0.141746,0.771144,0.489660,0.389660
4,0.033415,0.340433,0.464971,0.363737,0.025815,0.434129,0.415163,0.892210,0.381701,0.415264,...,0.696930,0.819751,0.944029,0.869965,0.041723,0.819140,0.676051,0.109349,0.872947,0.772947

In [17]:
# Código Luis
df[['20']] =  [value - 0.1 for value in df.iloc[:, 19]]
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.276827,0.260054,0.942397,0.113187,0.781355,0.475740,0.152061,0.250324,0.147078,0.162984,...,0.509619,0.593212,0.911839,0.257645,0.386457,0.696932,0.069162,0.952291,0.286542,0.186542
1,0.995885,0.158381,0.244274,0.962163,0.651900,0.930665,0.577190,0.087914,0.960261,0.580840,...,0.661459,0.674085,0.049326,0.785803,0.315645,0.495355,0.232135,0.549324,0.572232,0.472232
2,0.641917,0.821055,0.392437,0.782617,0.510762,0.428320,0.017324,0.680720,0.340412,0.462513,...,0.251949,0.032847,0.995700,0.816563,0.735692,0.435998,0.430411,0.531757,0.489528,0.389528
3,0.806532,0.569258,0.148175,0.809987,0.459632,0.735762,0.730664,0.934502,0.080322,0.763502,...,0.027637,0.409665,0.942846,0.133256,0.157158,0.929446,0.402791,0.685976,0.246594,0.146594
4,0.311185,0.501165,0.365979,0.782807,0.776795,0.797199,0.791946,0.847157,0.771811,0.233944,...,0.053030,0.208551,0.824354,0.588567,0.604341,0.232964,0.229109,0.022881,0.479022,0.379022
0,0.734751,0.195362,0.734309,0.598184,0.763433,0.263434,0.868066,0.058092,0.753502,0.587513,...,0.178356,0.182922,0.147631,0.391188,0.816049,0.749068,0.293260,0.937828,0.880858,0.780858
1,0.772607,0.445391,0.249642,0.787922,0.598583,0.827238,0.624126,0.601524,0.688753,0.338870,...,0.471474,0.267443,0.453351,0.800716,0.045749,0.683793,0.389789,0.016787,0.503695,0.403695
2,0.226428,0.268764,0.694262,0.622335,0.063843,0.122683,0.815625,0.584542,0.032594,0.589775,...,0.650973,0.565705,0.691784,0.265223,0.739031,0.560394,0.334802,0.517694,0.646110,0.546110
3,0.362748,0.495430,0.113876,0.594149,0.612522,0.625204,0.864050,0.260279,0.528873,0.168043,...,0.677014,0.175735,0.632370,0.926715,0.085675,0.120525,0.141746,0.771144,0.489660,0.389660
4,0.033415,0.340433,0.464971,0.363737,0.025815,0.434129,0.415163,0.892210,0.381701,0.415264,...,0.696930,0.819751,0.944029,0.869965,0.041723,0.819140,0.676051,0.109349,0.872947,0.772947

### 10. Use a list comprehension to extract and print all values from the data set that are between 0.7 and 0.75.

In [ ]:
list_10 = [row for column in df
           for row in df.loc[:, column]
           if row > 0.7 and row < 0.75]

print(list_10)